@import "../cards/cards.component.scss";
@import "../../variables";

.container {
    margin-top: 20px;
}

.card {
    position: initial;
    transition: 0.4s;

    @for $i from 1 through 9 {
        &:nth-child(#{$i}) {
            $rotation: (0) + deg;
            transform: translateY(0px) rotate($rotation);
        }
    }

    &:hover {
        z-index: 1;
        box-shadow: 0px;
        transform: translateY(0px);
    }

    &__label {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    @media screen and (min-width: $desktop-width) {
        &--normal {
            width: 900px;
            display: flex;
            font-size: 18px;

            p {
                font-size: 14px;
            }

            img {
                max-height: 600px;
                margin: 15px;
                display: flex;
            }
        }

        &__image-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
