$desktop-width: 1024px;

$color-background: #F0F0F7;
$color-primary-lighter: #9871F5;
$color-primary-light: #916BEA;
$color-primary: #F8B63C;
$color-primary-dark: #774DD6;
$color-primary-darker: #6842c2;
$color-secondary: #FFCC3D;
$color-secondary-dark: #04BF58;
$color-title-in-primary: #FFFFFF;
$color-text-in-primary: #D4C2FF;
$color-text-title: #32264D;
$color-text-complement: #9C98A6;
$color-text-base: #6A6180;
$color-line-in-white: #E6E6F0;
$color-input-background: #F8F8FC;
$color-button-text:white;
$color-button:#843742;
$color-box-base: #FFFFFF;
$color-box-footer: #FAFAFC;
$color-small-info: #84818a;
